@font-face { font-family: 'BrandonGrotesque-Bold'; src: url('fonts/BrandonGrotesque-Bold.eot'); src: url('fonts/BrandonGrotesque-Bold.woff2') format('woff2'), url('fonts/BrandonGrotesque-Bold.woff') format('woff'), url('fonts/BrandonGrotesque-Bold.ttf') format('truetype'), url('fonts/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg'), url('fonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Knockout'; src: url('fonts/Knockout.eot'); src: url('fonts/Knockout.woff2') format('woff2'), url('fonts/Knockout.woff') format('woff'), url('fonts/Knockout.ttf') format('truetype'), url('fonts/Knockout.svg#Knockout') format('svg'), url('fonts/Knockout.eot?#iefix') format('embedded-opentype'); font-weight: normal; font-style: normal; }

/* Genearl */
body,
html { font-family: 'Knockout'; position: relative; background: black; -webkit-font-smoothing: antialiased; }
a { color: inherit; text-decoration: none; }
* { margin: 0; padding: 0; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
img { width: 100%; display: block; }

button { outline: none; border: none; padding: 0; background: transparent; cursor: pointer; }

.overlay { z-index: 2000; pointer-events: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; background: url('/img/overlay3.jpg') no-repeat center top; opacity: .3; -webkit-transition: opacity .2s; -ms-transition: opacity .2s; transition: opacity .2s; }
body:hover .overlay { opacity: 0; }
@media screen and (width:360px) {
	.overlay { background-image: url('/img/overlay3.jpg'); }
}


/* Header */
header { background: black; height: 73px; width: 100%; }


/* Union */
section { min-width: 1020px; }
section > .inner { width: 80%; min-width: 1020px; margin: 0 auto; }
section h2 { font-family: 'Knockout'; font-size: 35px; text-transform: uppercase; }


/* Main Section */
.main { height: calc(100vh - 73px); overflow: hidden; color: #fff; background: url('/img/bg-main.png') no-repeat center 15%; background-size: cover; width: 100%; padding: 0; }
.main h1 { font-size: 86px; font-family: 'Knockout'; text-transform: uppercase; line-height: .8; margin: 75px 0 20px 0; position: relative; display: inline-block; vertical-align: top; }
.main .inner { position: relative; padding: 73px 0 0 75px; height: 100%; }
.main h1 span.tm { color: black; font-size: 7px; font-family: 'BrandonGrotesque'; position: absolute; bottom: -16px; right: 9px; }
.main p { font-family: 'BrandonGrotesque'; width: 400px; line-height: 1.4; }

.watch { margin-top: 24px; color: #fff; line-height: 51px; text-transform: uppercase; }
.watch i { padding-left: 4px; color: #fff; margin-right: 10px; font-size: 14px; display: inline-block; vertical-align: top; width: 51px; height: 51px; border: 3px solid #fff; border-radius: 50%; line-height: 48px; text-align: center; }

.down { position: relative; width: 85px; height: 85px; border-radius: 50%; background: #02000a; position: absolute; bottom: -14px; right: 32px; }
.down span { color: #d8ae72; text-transform: uppercase; font-weight: bold; font-family: 'Knockout'; font-size: 13px; margin-top: -22px; width: 47px; text-align: center; display: inline-block; vertical-align: top; padding-bottom: 4px; border-bottom: 1px dotted; }
.down i { position: absolute; color: #d8ae72; bottom: 14px; left: 50%; font-size: 20px; transform: translateX(-50%); }

/* Ivo Section */
.ivo { padding-bottom: 40px; background: url('/img/bg-ivo.png') no-repeat center top; text-align: center; padding-top: 48px; background-size: cover; }
.ivo .inner:after { content: ''; display: table; clear: right; }
.ivo .inner { width: 1020px !important;  position: relative; }
.ivo h2 { font-family: 'Knockout'; font-size: 35px; text-transform: uppercase; }
.ivo .about { line-height: 1.5; margin: 0 auto; width: 740px; margin-top: 25px; font-family: 'BrandonGrotesque'; }
.ivo .jewel { float: right; margin-top: 68px; width: 525px; padding-right: 97px; font-size: 36px; font-style: italic; line-height: 1.1; }
.ivo .rotate { font-size: 100px; transform: rotate(180deg); display: block; color: black; margin-bottom: -40px; }
.ivo .author { display: block; font-size: 20px; font-style: italic; }
.ivo .polaroid { position: absolute; top: 257px; left: 0; background: url('/img/polaroid.png') no-repeat center center; width: 473px; height: 418px; }


/* Golden Horse Section */
.golden-horse { color: #fff; position: relative; background: black url('/img/bg-golden-horse.png') no-repeat center top; }
.golden-horse .inner { height: 100%; text-align: center; padding: 70px 0; position: relative; z-index: 100; }
.golden-horse .section-overlay { z-index: 50; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0, 0, 0, .3); }
.golden-horse p { font-family: 'BrandonGrotesque'; line-height: 1.5; width: 500px; margin: 20px auto 0 auto; }
.golden-horse .logo { width: 87px; height: 73px; margin: 33px auto 0 auto; background: url('/img/horse-logo.png') no-repeat center center; }


/* Craftmanship Section */
.craftmanship { height: 630px; background: black url('/img/bg-craftmanship.png') no-repeat center top; background-size: cover; }
.craftmanship .inner { text-align: center; padding-top: 60px; }
.craftmanship p { margin: 27px auto 0 auto; width: 700px; font-family: 'BrandonGrotesque'; line-height: 1.5; }


/* Museum Section */
.museum { height: 348px; background: black url('/img/bg-museum.png') no-repeat center top; background-size: cover; }
.museum > .inner { width: 1020px !important; position: relative; height: 348px; }
.museum .ring { position: absolute; bottom: 0; left: 0; width: 737px; height: 440px; background: url(/img/ring.png) no-repeat center top; }
.museum .content { text-align: center; color: #fff; float: right; width: 452px; margin-top: 64px; }
.museum .content p { margin: 15px auto 0 auto; font-family: 'BrandonGrotesque'; line-height: 1.5; width: 328px; }
.museum .content a { text-transform: uppercase; margin-top: 27px; color: #d6a76c; display: block; font-size: 15px; }

/* Location Section */
.location { height: 630px; background: black url('/img/bg-location.png') no-repeat center 55%; background-size: cover; }
.location .inner { text-align: center; padding-top: 30px; }
.location .inner p { margin: 27px auto 0 auto; width: 700px; font-family: 'BrandonGrotesque'; line-height: 1.5; }


/* Discover Section */
.discover { color: #fff; height: 622px; background: black; }
.discover .inner { padding: 28px; width: 80%; min-width: 1020px; }
.discover .inner:after { content: ''; display: table; clear: both; }
.discover .rcol { float: right; width: 48.8%; }
.discover .lcol { float: left; width: 51%; }
.discover .rcol .content { width: 100%; height: 570px; padding: 100px 0 0 60px; background: url('/img/discover1.png') no-repeat center center; background-size: cover; }
.discover .rcol .content h2 { margin-bottom: 28px; }
.discover .rcol .content p { font-family: 'BrandonGrotesque-Bold'; line-height: 1.5; }
.discover .rcol .content button { margin-top: 24px; color: #d6a76c; font-size: 14px; line-height: 51px; text-transform: uppercase; }
.discover .big-block { height: 400px; margin-bottom: 3px; background: no-repeat center center; background-size: cover; }
.discover .small-blocks { height: 169px; width: 100%; white-space: nowrap; overflow: hidden; }
.discover .small-block1 { height: 167px; width: 49%; display: inline-block; vertical-align: top; background: url('/img/discover3.png') no-repeat center center; background-size: cover; }
.discover .small-block2 { height: 167px; width: 51%; display: inline-block; vertical-align: top; background: url('/img/discover4.png') no-repeat center center; background-size: cover; }

.discover .big-block,
.discover .small-block1,
.discover .small-block2 { position: relative; }
.discover .big-block > a,
.discover .small-block1 > a,
.discover .small-block2 > a { position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%; opacity: 0; }


/* Tailoring Section */
.tailoring { height: 680px; background: black url('/img/bg-ivo.png') no-repeat center top; background-size: cover; }
.tailoring .inner { text-align: center; padding-top: 35px; }
.tailoring p { margin: 4px auto 0 auto; font-family: 'BrandonGrotesque'; line-height: 1.5; font-size: 15px; }
.tailoring .cols { text-align: left; font-size: 0; width: 980px; margin: 42px auto 0 auto; }
.tailoring .cols .col { width: 307px; margin-right: 29px; text-align: center; display: inline-block; vertical-align: top; }
.tailoring .cols .col:last-child { margin: 0; }
.tailoring .cols .col img { height: 380px; }
.tailoring .cols .col h4 { font-family: 'Knockout'; margin-top: 12px; font-size: 20px; text-transform: uppercase; }
.tailoring .cols .col p { font-size: 11px; margin-top: 10px; }
.tailoring .cols .col a { text-transform: uppercase; margin-top: 10px; color: #d6a76c; font-size: 15px; display: block; }


/* Home Page */

/* Home Page Union */
.home .inner h1 { text-transform: uppercase; }
.home .inner p { font-family: 'BrandonGrotesque'; line-height: 1.5; }
.home section { overflow: hidden; position: relative; background-repeat: no-repeat; background-position: center center; background-size: cover; }
.home section:not(.main2) .inner { z-index: 300; position: relative; text-align: center; color: #e1ac66; padding: 43px 0 0 0; }
.home section:not(.main2) .inner h2 { font-weight: normal; }
.home section:not(.main2) .inner p { margin-top: 8px; }
.home .section-overlay { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; z-index: 200; background: rgba(0, 0, 0, .6); }

/* Cols3 */
.cols3 { width: 980px; margin: 34px auto 0 auto; text-align: left; font-size: 0; }
.cols3 > .col { position: relative; width: 306px; margin-right: 31px; font-size: initial; display: inline-block; vertical-align: top; }
.cols3 > .col:last-child { margin: 0; }
.cols3 > .col .play { padding-left: 4px; z-index: 500; top: 30%; left: 50%; transform: translateX(-50%); width: 75px; height: 75px; border-radius: 50%; border: 3px solid #fff; position: absolute; line-height: 75px; }
.cols3 > .col .play:before { color: #fff; content: '\f04b'; font-size: 20px; font-family: 'FontAwesome'; }


/* Cols4 */
.cols4 { width: 980px; margin: 0 auto; text-align: left; margin-top: 46px; }
.cols4 > .col { width: 242px; text-align: center; display: inline-block; vertical-align: top; }
.cols4 > .col h4 { text-transform: uppercase; font-size: 21px; }
.cols4 > .col p { font-size: 12px; width: 180px; margin: 0 auto; }
.cols4 > .col a { font-family: 'BrandonGrotesque-Bold'; font-weight: bold; background: transparent; color: #e1ac66; text-transform: uppercase; margin-top: 8px; display: inline-block; vertical-align: top; font-size: 11px; }

/* Main Section 2 */
.main2 { height: calc(100vh - 73px); background-image: url('/img/bg-main2.png') !important; background-position: center top !important; }
.main2 .inner { position: relative; height: 100%; padding: 64px 0 0 72px; }
.main2 h1 { position: relative; font-size: 88px; width: 200px; line-height: .9; display: inline-block; vertical-align: top; }
.main2 p { font-family: 'Knockout'; }
.main2 h1 span.tm { font-size: 7px; font-family: 'BrandonGrotesque'; position: absolute; bottom: 70px; right: -2px; right: -35px; }
.main2 p { font-family: 'BrandonGrotesque'; width: 400px; line-height: 1.4; }


/* Handcrafted Section */
.handcrafted { height: 643px; background-image: url('/img/bg-handcraft.png'); }
.handcrafted p { font-family: 'BrandonGrotesque-Bold' !important; }
.handcrafted .col { color: #e1ac66; text-align: center; }
.handcrafted .col h4,
.handcrafted .col .bordered { position: absolute; left: 50%; transform: translateX(-50%); text-transform: uppercase; }
.handcrafted .col h4 { top: 58%; font-size: 24px; width: 140px; font-weight: normal; }
.handcrafted .col .bordered { display: block; font-family: 'BrandonGrotesque-Bold'; border: 1px solid #e1ac66; font-size: 11px; padding: 8px 28px; bottom: 14%; }


/* By Category Section */
.bycategory { height: 597px; background-image: url('/img/bg-ivo.png'); }
.bycategory .inner { padding-top: 75px !important; color: #000 !important; }
.bycategory p { margin-top: 4px !important; font-family: 'BrandonGrotesque-Bold' !important; }
.bycategory .col h4 { font-weight: normal; }


/* Handcrafted 2 Section */
.handcrafted2 { height: 840px; }
.handcrafted2 .inner { padding: 86px 0 0 0 !important; }
.handcrafted2 h2 { font-weight: normal; }
.handcrafted2 p { margin: 4px 0 0 0 !important; font-family: 'BrandonGrotesque-Bold' !important; }
.handcrafted2 .cols3 { margin-top: 30px !important; }
.handcrafted2 .col { text-align: center; color: #fff; }
.handcrafted2 .col h4,
.handcrafted2 .col a { text-transform: uppercase !important; }
.handcrafted2 .col h4 { font-weight: normal; font-size: 20px; margin-top: 10px; }
.handcrafted2 .col p { font-size: 12px; width: 220px; margin: 10px auto !important; display: block; }
.handcrafted2 .col a { color: #e1ac66; }


/* Utility */
.responsive { display: none; }

@media screen and (max-width: 520px) {


	/* Utility */
	.responsive { display: block; }
	.overlay { background-image: url('/img/overlay4.jpg'); }


	/* Header */
	header { height: 60px; }


	/* Union */
	section { min-width: auto; overflow: hidden; }
	section > .inner { min-width: auto; width: 100%; }


	/* Main Section */
	.main { height: 434px !important; }
	.main .inner { height: 434px; width: 100%; padding: 46px 0 0 38px; }
	.main h1 { margin: 0 0 0 8px; font-size: 89px; }
	.main p { width: 252px; line-height: 1.5; }
	.main a.watch { margin-top: 20px; }
	.main .down { display: none; }


	/* Ivo Section */
	.ivo { height: auto; text-align: left; background: #fff; background-image: none; padding: 37px 25px 37px 25px; }
	.ivo .inner { width: 100% !important; }
	.ivo h2 { font-size: 29px; }
	.ivo .about { width: 97%; margin: 0; margin-top: 14px; font-size: 14px; }
	.ivo .polaroid { background-size: contain; background-image: url('/img/polaroid2.png'); position: static; height: 370px; width: 100%; }
	.ivo .jewel { width: 100%; margin-top: 20px; font-size: 25px; line-height: 1.2; text-align: center; padding: 0; }
	.ivo .jewel .author { margin-top: 40px; }


	/* Golden Horse Section */
	.golden-horse { height: 458px; }
	.golden-horse .inner { text-align: left; padding: 32px 14px 0 20px; font-size: 14px; }
	.golden-horse p { width: 100%; }
	.golden-horse .logo { margin: 33px 0 0 0; }


	/* Craftmanship Section */
	.craftmanship { background-color: #fff; height: 590px; background-size: contain; background-position: center 336px; }
	.craftmanship .inner { text-align: left; padding: 32px 12px 0 25px; }
	.craftmanship p { font-size: 14px; margin-top: 14px; width: auto; }


	/* Museum Section */
	.museum { height: 343px; }
	.museum .inner { width: 100% !important; }
	.museum .ring { background-size: contain; width: 808px; height: 478px; left: -182px; bottom: -272px; }
	.museum .content { width: 100%; margin: 0; text-align: left; padding: 32px 12px 0 25px; }
	.museum .content p { width: 100%; font-size: 14px; margin-top: 20px; }
	.museum .content a { margin-top: 20px; }


	/* Location Section */
	.location { height: 433px; background-size: cover; background-position: 0 -23px; }
	.location .inner { text-align: left; padding: 32px 12px 0 25px; }
	.location .inner p { width: auto; font-size: 14px; margin-top: 17px; }


	/* Discover Section */
	.discover { height: 560px; }
	.discover .inner { min-width: auto; width: 100% !important; }
	.discover .lcol { width: 100%; float: none; }
	.discover .rcol { display: none; }
	.discover .big-block { width: 100%; position: relative; background-position: right; }
	.discover .small-blocks { display: none; }
	.discover .big-block .play { padding-left: 4px; z-index: 500; top: 30%; left: 50%; transform: translateY(-50%); transform: translateX(-50%); width: 78px; height: 78px; border-radius: 50%; border: 3px solid #fff; position: absolute; line-height: 78px; text-align: center; }
	.discover .big-block .play:before { color: #fff; content: '\f04b'; font-size: 20px; font-family: 'FontAwesome'; }
	.discover .m-content { text-align: center; }
	.discover .m-content h2 { font-size: 20px; margin-top: 10px; }
	.discover .m-content a { color: #d6a76c; margin-top: 10px; text-transform: uppercase; display: block; }
	.discover .m-content p { font-size: 14px; margin-top: 5px; font-family: 'BrandonGrotesque'; }


	/* Tailoring Section */
	.tailoring { background: #fff; height: auto !important; padding-bottom: 20px; }
	.tailoring .inner { padding: 0; }
	.tailoring h2 { margin-top: 27px; }
	.tailoring p { display: none; }
	.tailoring .cols { white-space: nowrap; width: 100% !important; margin-top: 18px; }
	.tailoring .cols .col { width: 100% !important; margin: 0 !important; }
	.tailoring .cols .col img { width: 100%; height: auto; }
	.tailoring .col h4 { display: none; }
	.tailoring .col p { display: block; font-size: 14px !important; }

	/* Dots */
	.dots { font-size: 0; margin-top: 20px; }
	.dots .dot { width: 7px; height: 7px; margin-right: 10px; border-radius: 50%; border: 1px solid #d6d6d6; display: inline-block; vertical-align: top; }
	.dots .dot:last-child { margin-right: 0; }
	.dots .dot.active { border: 1px solid #d6a76c; background: #d6a76c; }

	/* Home Page */

	/* Home Page Union */
	.home section:not(.main2) .inner { padding: 37px 0 0 0; }
	.home section:not(.main2) .inner p { width: 80%; margin: 0 auto; display: block; line-height: 1.3; }


	/* Cols3 */
	.cols3 { width: 80%; margin: 0 auto; }
	.cols3 > .col { margin: 20px 0 0 0 !important; width: 100%; display: block; }


	/* Main Section 2 */
	.main2 { height: 436px; }
	.main2 .inner { height: 100%; padding: 68px 0 0 36px; }
	.main2 .down { display: none; }


	/* Handcrafted Section */
	.handcrafted { background: #1f1f1f; height: auto; padding-bottom: 40px; }
	.handcrafted .section-overlay { display: none; }


	/* By Category Section */
	.bycategory { height: auto; padding-bottom: 40px !important; }
	.bycategory .inner { padding-top: 40px !important; }
	.bycategory .dots { margin-top: 40px; }
	.bycategory .cols4 { margin-top: 30px !important; }

	/* Handcrafted 2 Section */
	.handcrafted2 { background-color: #1f1f1f; height: auto; padding-bottom: 40px !important; }
	.handcrafted2 .inner { padding-top: 20px !important; }
	.handcrafted2 .inner > h2,
	.handcrafted2 .inner > p { display: none !important; }


}